<p id="notice"><%= notice %></p>

<p>
  <strong>Piece:</strong>
  <%= @director.piece %>
</p>

<p>
  <strong>Location:</strong>
  <%= @director.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @director.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @director.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @director.url %>
</p>

<p>
  <strong>Musiker:</strong>
  <%= @director.musiker %>
</p>

<p>
  <strong>Choreo:</strong>
  <%= @director.choreo %>
</p>

<p>
  <strong>Premiere:</strong>
  <%= @director.premiere %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
