<div class="kommende">
  <span class="tag-kommende">Nächste Produktionen:</span>
  <div class="info-kommende">

    <% @actor.each do |s|  %>
      <% unless s.premiere %>
        <div class="card-kommende">

          <h4 class="piece-title">

            <%# Star wrapping piece title %>
            <%= image_tag("star_sign.png", class: "rotate", height: "20px") %>

            <%# This fills the piece's name with the URL for info %>
            <% if s.url.blank? %>
              <%= s.piece %>
            <% else %>
              <%= link_to s.piece, s.url, html_options = {target: "_blank", class: 'kommende-link-info'} %>
            <% end %>

            <%= image_tag("star_sign.png", class: "rotate", height: "20px") %>
          </h4>
          <p class="kommende-location"><%= s.location %>, <%= s.start_date.to_formatted_s(:short)  %> - <%= s.end_date.to_formatted_s(:short) %></p>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
