<p class="list-title">Vergangene Produktionen</p>

<% @director.each do |a| %>
  <% if a.premiere %>
    <div class="card">
      <div class="piece-title">
        <h2>«<%= a.piece %>»</h2>
        <p class="tag"><%= a.start_date.strftime("%Y") %></p>
      </div>

      <div id="card-info">
        <% unless a.location.blank? %>
          <div class="card-line">
            <p class="tag">Spielort: </p>
            <p class="tag-info"><%= a.location %></p>
          </div>
        <% end %>

        <% unless a.choreo.blank? %>
          <div class="card-line">
            <p class="tag">Choreografie:</p>
            <p class="tag-info"><%= a.choreo %></p>
        </div>
        <% end %>

        <% unless a.musiker.blank? %>
          <div class="card-line">
            <p class="tag">Musikalische Leitung: </p>
            <p class="tag-info"> <%= a.musiker %></p>
          </div>
        <% end %>
      </div>

    </div>
    <% end %>
<% end %>
