<%= form_with(model: writer) do |form| %>
  <% if writer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(writer.errors.count, "error") %> prohibited this writer from being saved:</h2>

      <ul>
        <% writer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :piece %>
    <%= form.text_field :piece %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :responsible %>
    <%= form.text_field :responsible %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :premiere %>
    <%= form.check_box :premiere %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
