<p id="notice"><%= notice %></p>

<p>
  <strong>Piece:</strong>
  <%= @writer.piece %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @writer.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @writer.year %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @writer.responsible %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @writer.comment %>
</p>

<p>
  <strong>Premiere:</strong>
  <%= @writer.premiere %>
</p>

<%= link_to 'Edit', edit_writer_path(@writer) %> |
<%= link_to 'Back', writers_path %>
