<!DOCTYPE html>
<html>
  <head>
    <title>Rolf Sommer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' unless @skip_navbar %>
    <%= yield %>
    <section class="footer-spacing"></section>
    <%= render 'shared/footer' unless @skip_footer %>
  </body>
</html>
